/**
 * Created by David on 2017/4/28.
 */
#z-edit{
  margin-top: 20px;
}
.el-input,.el-textarea{
  width:80%;
  float: left;
}
.z-input-span{
  color: #ff0000;
  padding: 0px 20px;
}
.el-collapse-item__wrap{
  background:#fff;
}
.el-collapse-item__header__arrow{
  float: right;
}
.el-collapse-item__header{
  border:none
}
.el-select{
  width: 80%;
}
.text-center{
  text-align: center;
}
.marR10{
  margin-right: 10px;
}
